#workspace {
    width: 850px;
    height: 800px;
    border: 1px solid blue;
    margin: auto;
}
#player {
    width: 30px;
    height: 30px;
    background-color: lightgreen;
    position: relative;
    top: 720px;
    left: 430px;
}
#missile {
    width: 2px;
    height: 4px;
    background-color: rgb(214, 2, 2);
    position: relative;
}