#workspace {
    width: 550px;
    height: 500px;
    border: 1px solid blue;
    margin: auto;
}
#player {
    width: 20px;
    height: 20px;
    background-color: lightgreen;
    position: relative;
    top: 480px;
    left: 280px;
}
#missile {
    width: 4px;
    height: 6px;
    background-color: rgb(214, 2, 2);
    position: relative;
}